.bg-secondary {
  background-color: #23374b !important;
}

.copyright {
  background-color: #1a252f;
}

.bg-primary {
  background-color: #bc251a !important;
  /* Negrita */
  font-weight: bold;
  /* Subrayado */
  text-decoration: underline;
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 2px solid rgb(255, 0, 225);
}

nav{
  font-weight: 700;
}

.img-card{
  height: 22vw;
  object-fit: cover;
}

/* El fondo del cuerpo no estaba, creado yo para darle estilo */
body{
  background-color: blanchedalmond;
}